*{
    padding: 0;
    margin: 0;
}

.members{
    display: grid;
    justify-content: center;
    align-items: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
}

.card img {
    width: 50px;
}

.counter{
    font-size: larger;
    border: 0.5px solid rgb(236, 236, 236);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-weight: bolder;
    padding: 5px;
    margin: 5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    margin: 10px;
}

.container > * {
    padding: 5px;
    margin: 2px;
}
  
/* Clear floats */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}