*{
    padding: 0;
    margin: 0;
}

body{
    background-color: whitesmoke;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gold;
    background-color: black;
    padding: 15px;
    font-size: larger;
    font-weight: bolder;
}

#userdata{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
}

input{
    line-height: 20px;
    border-radius: 2px;
    border-color: rgb(199, 202, 186);
}